aioconsole==0.3.1
aiohttp==3.7.2
aiomonitor==0.4.5
async-timeout==3.0.1
attrs==20.3.0
cbor2==5.2.0
certifi==2020.11.8
chardet==3.0.4
Deprecated==1.2.10
idna==2.10
luma.core==2.0.1
luma.oled==3.1.0
multidict==5.0.2
Pillow==8.0.1
pyftdi==0.52.0
pyserial==3.4
pyserial-asyncio==0.4
pyusb==1.1.0
requests==2.25.0
RPi.GPIO==0.7.0
smbus2==0.2.3
spidev==3.2
terminaltables==3.1.0
typing-extensions==3.7.4.3
urllib3==1.26.2
wrapt==1.12.1
yarl==1.6.3
